.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  flex-direction: column;
  background: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
}

.about-content {
  display: flex;
  align-items: center;
}

.about-image {
  flex: 0 0 auto;
  margin-right: 60px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.about-text {
  flex: 1;
}

/* New styles for responsive design */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .about-image {
    margin-bottom: 20px;
    margin-right: 0px;
  }
}