.contact {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--light-grey);
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: var(--dark-grey);
  font-family: 'Poppins', sans-serif;
}

.contact p {
  font-size: 1.2em;
  margin: 10px 0;
  color: var(--medium-grey);
}

.contact-info {
  margin: 20px 0;
}

.contact-info p {
  font-size: 1.1em;
  margin: 10px 0;
  color: var(--medium-grey);
}

.contact a {
  color: var(--medium-grey);
  text-decoration: none;
}

.contact a:hover {
  text-decoration: underline;
}