footer {
  padding: var(--space-xs) 0;
  position: relative;
  bottom: 0;
  width: 100%;
  padding-left: 4%; /* Consider if this margin is still desired with a full-width background */
  background-color: var(--light-grey);
  color: var(--dark-grey);
}